@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

html{
    background: black url("bwSafe.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;    
}
h1{
    padding: 20px 0px;
    font-family: 'Montserrat';
    font-weight: 1000;
    text-align: center;  
}
.container{
    margin-top:150px;
    padding-bottom: 40px;
    background: white;}
textarea{
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500; 
}
.Password{
    background-color: rgb(15, 15, 105);
    padding: 10px;
    color: white;
    outline: none;
    border: none;
    float: left;
    margin-left: 40px;
    font-family: 'Montserrat';
    font-weight: 400;   
}
.Clipboard{
    background-color: darkolivegreen;
    padding: 10px;
    color: white;
    outline: none;
    border: none;
    float: right;
    margin-right: 40px;
    font-family: 'Montserrat';
    font-weight: 400;   
}
.Password:hover{
    background: grey;
}
.Clipboard:hover{
    background: lightgray;
}
/* @media needed*/
